stages:
  - test
  - coverage
  - deploy

unit-test-job:
  stage: test
  tags:
    - on-prem
  script:
    - echo "Running unit tests..."
    - mw -using Bmain matlab -softwareopengl -batch "openProject(pwd); buildtool test;"
  artifacts:
    paths:
      - test-reports/
      - code-coverage/
    reports:
      junit: test-reports/junit.xml
      coverage_report:
        coverage_format: cobertura
        path: code-coverage/cobertura-coverage.xml

coverage-job:
  stage: coverage
  tags:
    - on-prem
  script:
    - echo "Publishing coverage report..."
  artifacts:
    paths:
      - code-coverage/
    when: always
  only:
    - main

deploy-job:
  stage: deploy
  tags:
    - on-prem
  script:
    - echo "Deploying ctf..."
    - mw -using Bmain matlab -softwareopengl -batch "openProject(pwd); buildtool deployCtf;"

pages:
  stage: deploy
  tags:
    - linux
  script:
    - mkdir public
    - cp -r source/index.html public/
  artifacts:
    paths:
      - public
  only:
    - main